<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="CIS" connectionString="data source =  .;initial catalog = CIS;user id = sa;password = 9999;" />-->
		<add name="CIS" connectionString="data source = 192.168.10.131;initial catalog = dy;user id = sa;password = Jmz123.;" />
		<add name="HNIMIS" connectionString="data source = .;initial catalog = dy;user id = his999;password = 9999;" />
		<add name="HIS" connectionString="data source = 47.106.196.111,30513;initial catalog = dy;user id = his999;password = 9999;" />
		<add name="PACS" connectionString="data source = 116.204.8.49;initial catalog = CIS;user id = his999;password = 054805;" />
		<add name="LIS" connectionString="data source = 192.168.0.16;initial catalog = lis999;user id = sa;password = 9999;" />
		<add name="PEIS" connectionString="data source = 116.204.8.49;initial catalog = CIS;user id = his999;password = 054805;" />
		<add name="RIS" connectionString="data source = 116.204.8.49;initial catalog = HIS999;user id = his999;password = 054805;" />
		<add name="HRP" connectionString="data source = 116.204.8.49;initial catalog = CIS;user id = his999;password = 054805;" />
		<add name="MR" connectionString="data source = 116.204.8.49;initial catalog = HIS999;user id = his999;password = 054805;" />
		<add name="INTERFACE1" connectionString="data source = 116.204.8.49;initial catalog = CIS;user id = his999;password = 054805;" />
		<add name="INTERFACE2" connectionString="data source = 116.204.8.49;initial catalog = CIS;user id = his999;password = 054805;" />
		<add name="INTERFACE3" connectionString="data source = 116.204.8.49;initial catalog = CIS;user id = his999;password = 054805;" />
	</connectionStrings>
	<appSettings>
		<add key ="WesternMedicineDept" value="30000001|30000002"/>
		<!--西药药方列表-->

		<add key ="HerbalMedicineDept" value="30000003"/>
		<!--中药药房列表-->

		<add key ="ReadyModule" value="false"/>
		<!--true,false-->
		<!--是否初始化病历预加载-->

		<add key ="ReadyQueueManagementSystem" value="false"/>
		<!--是否初始化排队叫号进程-->

		<add key ="DrugAuthority" value="true"/>
		<!--是否开启药品权限检查-->

		<!--参保类型sql-->
		<add key="PayType" value="(CASE WHEN (D.YBDYLB = '51' OR D.YBDYLB = '52') THEN '居民医保' WHEN D .YBDYLB = '61' THEN '新农合' ELSE '职工医保' END) as PayType"/>
		<add key="MedicalInsurancePreAuditUrl" value="http://10.72.3.47:8086/CSB"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
          <probing privatePath="libs"/>
       </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>